[Desktop Entry]
Name=Verne
Comment=A Elementary based Filemanager
Exec=verne %d
Terminal=false
Icon=verne
Type=Application
MimeType=inode/directory
Categories=FileManager;Utility;Core;System;FileTools;
