[Desktop Entry]
Name=Efm - Jesus
Comment=A Elementary based Filemanager
Exec=efm %d
Terminal=false
Icon=system-file-manager
Type=Application
MimeType=inode/directory
Categories=FileManager;Utility;Core;System;FileTools;
