[Desktop Entry]
Name=Kvasir
Comment=A Elementary based Filemanager
Exec=kvasir %d
Terminal=false
Icon=system-file-manager
Type=Application
MimeType=inode/directory
Categories=FileManager;Utility;Core;System;FileTools;
